@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .c-button {
    @apply rounded px-8 py-4 min-w-[300px] bg-gray-100 flex items-center justify-center;
    font-size: 16px;
    line-height: 16px;
  }

  .c-button .c-button__icon {
    @apply h-5 w-5;
    line-height: 16px;
  }

  /* see how to apply margin left to nth-child(2) only */
  .c-button .c-button__text {
    @apply mr-4 ml-4;
  }


  .c-button--primary {
    @apply c-button;
    @apply bg-purple-200;
    color: black;
  }

  .c-button--secondary {
    @apply c-button;
    color: white;
    @apply bg-red-500;
  }

  .c-button--tertiary {
    @apply c-button;
    color: white;
    @apply bg-blue-500;
  }
}
