@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .c-button {
    @apply rounded-full p-2 min-w-[300px] bg-gray-100;
    font-size: 23px;
  }

  .c-button--primary {
    @apply c-button;
    color: blue;
  }

  .c-button--secondary {
    @apply c-button;
    color: white;
    @apply bg-indigo-500;
  }

  .c-button--tertiary {
    @apply c-button;
    color: green;
    @apply bg-yellow-500;
  }
}
